USE [master]
GO
/****** Object:  Database [PetTech]    Script Date: 29/06/2025 7:13:54 CH ******/
CREATE DATABASE [PetTech]
GO
IF NOT EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = 'PetTech')
BEGIN
    CREATE DATABASE PetTech;
END
GO
USE [PetTech]
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[table_name] [nvarchar](50) NOT NULL,
	[record_id] [int] NOT NULL,
	[action] [nvarchar](20) NOT NULL,
	[old_values] [nvarchar](max) NULL,
	[new_values] [nvarchar](max) NULL,
	[changed_by] [int] NOT NULL,
	[changed_at] [datetime] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogCategories]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogCategories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogComments]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogComments](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[blog_id] [int] NOT NULL,
	[user_id] [int] NULL,
	[content] [nvarchar](1000) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[status] [bit] NULL,
	[parent_comment_id] [int] NULL,
	[is_admin_reply] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[blog_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[short_description] [nvarchar](500) NULL,
	[image_url] [nvarchar](255) NULL,
	[category_id] [int] NOT NULL,
	[author_id] [int] NULL,
	[author_name] [nvarchar](100) NULL,
	[view_count] [int] NULL,
	[is_featured] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[blog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_access]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_access](
	[access_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[service_package_id] [int] NOT NULL,
	[status] [bit] NOT NULL,
	[access_date] [datetime] NOT NULL,
 CONSTRAINT [PK_course_access] PRIMARY KEY CLUSTERED 
(
	[access_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_categories]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_category_mapping]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_category_mapping](
	[course_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_images]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[image_url] [nvarchar](255) NOT NULL,
	[is_primary] [bit] NULL,
	[created_at] [datetime] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_lessons]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_lessons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[module_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NULL,
	[video_url] [nvarchar](255) NULL,
	[duration] [int] NULL,
	[order_index] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_modules]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_modules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[order_index] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_review_replies]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_review_replies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[review_id] [int] NOT NULL,
	[sender_id] [int] NOT NULL,
	[is_admin] [bit] NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[reply_time] [datetime] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_reviews]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[post_date] [date] NOT NULL,
	[researcher] [nvarchar](100) NOT NULL,
	[video_url] [nvarchar](max) NULL,
	[status] [int] NULL,
	[duration] [nvarchar](50) NOT NULL,
	[thumbnail_url] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_paid] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[experts]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[experts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[position] [nvarchar](100) NOT NULL,
	[bio] [nvarchar](max) NULL,
	[image_url] [nvarchar](255) NULL,
	[facebook_url] [nvarchar](255) NULL,
	[instagram_url] [nvarchar](255) NULL,
	[twitter_url] [nvarchar](255) NULL,
	[google_url] [nvarchar](255) NULL,
	[status] [bit] NULL,
	[created_at] [datetime] NULL,
	[partner_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lesson_attachments]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lesson_attachments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lesson_id] [int] NOT NULL,
	[file_name] [nvarchar](255) NOT NULL,
	[file_url] [nvarchar](255) NOT NULL,
	[file_size] [int] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](12, 0) NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[order_date] [datetime] NULL,
	[total_amount] [decimal](12, 0) NOT NULL,
	[commission] [decimal](12, 0) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partners]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partners](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[partner_type] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NULL,
	[partnership_date] [date] NULL,
	[project_count] [int] NULL,
	[logo_url] [nvarchar](255) NULL,
	[website] [nvarchar](255) NULL,
	[status] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[service_package_id] [int] NULL,
	[order_id] [int] NULL,
	[payment_method] [varchar](50) NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[payment_date] [datetime] NULL,
	[status] [varchar](100) NOT NULL,
	[transaction_id] [varchar](100) NULL,
	[qr_code_url] [nvarchar](500) NULL,
	[bank_account_number] [varchar](20) NULL,
	[bank_name] [nvarchar](100) NULL,
	[notes] [nvarchar](500) NULL,
	[is_confirmed] [bit] NULL,
	[confirmation_code] [varchar](50) NULL,
	[confirmation_expiry] [datetime] NULL,
	[failure_reason] [nvarchar](255) NULL,
 CONSTRAINT [PK_payments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pet_categories]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pet_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pet_images]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pet_images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pet_id] [int] NOT NULL,
	[image_url] [nvarchar](255) NOT NULL,
	[is_primary] [bit] NULL,
	[created_at] [datetime] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pets]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[category_id] [int] NOT NULL,
	[gender] [nvarchar](10) NULL,
	[age] [int] NULL,
	[color] [nvarchar](50) NULL,
	[weight] [decimal](5, 2) NULL,
	[breed] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[status] [bit] NULL,
	[created_at] [datetime] NULL,
	[partner_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_categories]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_category_mapping]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_category_mapping](
	[product_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[price] [decimal](12, 0) NOT NULL,
	[stock] [int] NOT NULL,
	[partner_id] [int] NULL,
	[image_url] [nvarchar](max) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_packages]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_packages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[price] [decimal](10, 0) NOT NULL,
	[type] [nvarchar](20) NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_packages]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_packages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[service_package_id] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_progress]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_progress](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[lesson_id] [int] NOT NULL,
	[completed] [bit] NULL,
	[completed_at] [datetime] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_reset_tokens]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_reset_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[reset_token] [nvarchar](255) NOT NULL,
	[expiry] [datetime] NOT NULL,
	[status] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 19/07/2025 12:49:04 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[role_id] [int] NULL,
	[status] [bit] NULL,
	[created_at] [datetime] NULL,
	[verification_token] [nvarchar](255) NULL,
	[service_package_id] [int] NULL,
	[is_active] [bit] NULL,
	[activation_token] [varchar](100) NULL,
	[token_expiry] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[audit_log] ON 

INSERT [dbo].[audit_log] ([id], [table_name], [record_id], [action], [old_values], [new_values], [changed_by], [changed_at], [status]) VALUES (1, N'users', 1, N'UPDATE', N'{"status":0}', N'{"status":1}', 4, CAST(N'2025-06-29T12:12:05.003' AS DateTime), 1)
INSERT [dbo].[audit_log] ([id], [table_name], [record_id], [action], [old_values], [new_values], [changed_by], [changed_at], [status]) VALUES (2, N'products', 1, N'CREATE', NULL, N'{"name":"Th?c an cho chó v? gà 5kg","price":350000}', 3, CAST(N'2025-06-29T12:12:05.003' AS DateTime), 1)
INSERT [dbo].[audit_log] ([id], [table_name], [record_id], [action], [old_values], [new_values], [changed_by], [changed_at], [status]) VALUES (3, N'orders', 1, N'UPDATE', N'{"status":"processing"}', N'{"status":"completed"}', 2, CAST(N'2025-06-29T12:12:05.003' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[audit_log] OFF
GO
SET IDENTITY_INSERT [dbo].[BlogCategories] ON 

INSERT [dbo].[BlogCategories] ([category_id], [category_name], [description], [created_at], [status]) VALUES (1, N'Chăm sóc thú cưng', N'Các bài viết hướng dẫn chăm sóc thú cưng hàng ngày', CAST(N'2025-06-29T12:12:04.933' AS DateTime), 1)
INSERT [dbo].[BlogCategories] ([category_id], [category_name], [description], [created_at], [status]) VALUES (2, N'Dinh dưỡng', N'Chế độ ăn uống và dinh dưỡng cho thú cưng', CAST(N'2025-06-29T12:12:04.933' AS DateTime), 1)
INSERT [dbo].[BlogCategories] ([category_id], [category_name], [description], [created_at], [status]) VALUES (3, N'Y tế - Sức khỏe', N'Các vấn đề về sức khỏe và y tế thú cưng', CAST(N'2025-06-29T12:12:04.933' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[BlogCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[BlogComments] ON 

INSERT [dbo].[BlogComments] ([comment_id], [blog_id], [user_id], [content], [created_at], [updated_at], [status], [parent_comment_id], [is_admin_reply]) VALUES (1, 1, 1, N'Bài viết thật sự đã mở mang cho mình rất nhiều kiến thức về cách xác định chế độ dinh dưỡng theo lứa tuổi. Trước kia mình thường chỉ cho cún ăn đại khái, giờ mới biết lượng protein phải điều chỉnh theo giai đoạn phát triển để tránh béo phì.', CAST(N'2025-06-29T12:12:05.000' AS DateTime), CAST(N'2025-06-29T12:12:05.000' AS DateTime), 1, NULL, 0)
INSERT [dbo].[BlogComments] ([comment_id], [blog_id], [user_id], [content], [created_at], [updated_at], [status], [parent_comment_id], [is_admin_reply]) VALUES (2, 1, 2, N'Mình vừa thử áp dụng bảng thực đơn 7 ngày trong phần cuối bài viết và thấy hiệu quả ngay: cún ăn hết khẩu phần, không bỏ thừa. Thích nhất là phần gợi ý thay thế nguyên liệu địa phương, rất thực tế!', CAST(N'2025-06-29T12:13:25.000' AS DateTime), CAST(N'2025-06-29T12:13:25.000' AS DateTime), 1, NULL, 0)
INSERT [dbo].[BlogComments] ([comment_id], [blog_id], [user_id], [content], [created_at], [updated_at], [status], [parent_comment_id], [is_admin_reply]) VALUES (3, 2, 3, N'Thông tin về các dấu hiệu stress ở mèo được giải thích chi tiết, kèm ảnh minh hoạ sắc nét nên mình dễ dàng nhận ra bé mèo nhà mình đang “knead” quá nhiều vì thiếu đồ cào. Cám ơn tác giả đã chia sẻ!', CAST(N'2025-06-29T12:15:40.000' AS DateTime), CAST(N'2025-06-29T12:15:40.000' AS DateTime), 1, NULL, 0)
SET IDENTITY_INSERT [dbo].[BlogComments] OFF
GO
SET IDENTITY_INSERT [dbo].[Blogs] ON 

SET IDENTITY_INSERT [dbo].[Blogs] OFF
GO
SET IDENTITY_INSERT [dbo].[course_access] ON 

INSERT [dbo].[course_access] ([access_id], [user_id], [course_id], [service_package_id], [status], [access_date]) VALUES (1, 1, 1, 2, 1, CAST(N'2025-07-19T00:46:56.290' AS DateTime))
INSERT [dbo].[course_access] ([access_id], [user_id], [course_id], [service_package_id], [status], [access_date]) VALUES (2, 1, 1, 3, 1, CAST(N'2025-07-19T00:46:56.293' AS DateTime))
INSERT [dbo].[course_access] ([access_id], [user_id], [course_id], [service_package_id], [status], [access_date]) VALUES (3, 1, 2, 2, 1, CAST(N'2025-07-19T00:46:56.293' AS DateTime))
SET IDENTITY_INSERT [dbo].[course_access] OFF
GO
SET IDENTITY_INSERT [dbo].[course_categories] ON 

INSERT [dbo].[course_categories] ([id], [name], [description], [status]) VALUES (1, N'Chăm sóc cơ bản', NULL, 1)
INSERT [dbo].[course_categories] ([id], [name], [description], [status]) VALUES (2, N'Dinh dưỡng', NULL, 1)
INSERT [dbo].[course_categories] ([id], [name], [description], [status]) VALUES (3, N'Sức khỏe', NULL, 1)
SET IDENTITY_INSERT [dbo].[course_categories] OFF
GO
INSERT [dbo].[course_category_mapping] ([course_id], [category_id], [status]) VALUES (1, 1, 1)
INSERT [dbo].[course_category_mapping] ([course_id], [category_id], [status]) VALUES (1, 4, 1)
INSERT [dbo].[course_category_mapping] ([course_id], [category_id], [status]) VALUES (2, 2, 1)
GO
SET IDENTITY_INSERT [dbo].[course_images] ON 

INSERT [dbo].[course_images] ([id], [course_id], [image_url], [is_primary], [created_at], [status]) VALUES (1, 1, N'/images/course/course_dog_2.jpg', 0, CAST(N'2025-06-29T12:12:04.943' AS DateTime), 1)
INSERT [dbo].[course_images] ([id], [course_id], [image_url], [is_primary], [created_at], [status]) VALUES (2, 1, N'/images/course/course_dog_3.jpg', 0, CAST(N'2025-06-29T12:12:04.943' AS DateTime), 1)
INSERT [dbo].[course_images] ([id], [course_id], [image_url], [is_primary], [created_at], [status]) VALUES (3, 2, N'/images/course/course_cat_2.jpg', 0, CAST(N'2025-06-29T12:12:04.943' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[course_images] OFF
GO
SET IDENTITY_INSERT [dbo].[course_lessons] ON 

SET IDENTITY_INSERT [dbo].[course_lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[course_modules] ON 

INSERT [dbo].[course_modules] ([id], [course_id], [title], [description], [order_index], [created_at], [updated_at], [status]) VALUES (1, 1, N'Module 1: Những cách chăm sóc chó con mới đẻ cần ghi nhớ', N'Như các bạn đã biết, chó con mới đẻ thường có sức khỏe khá yếu...', 1, CAST(N'2025-06-29T12:12:04.947' AS DateTime), CAST(N'2025-06-29T12:12:04.947' AS DateTime), 1)
INSERT [dbo].[course_modules] ([id], [course_id], [title], [description], [order_index], [created_at], [updated_at], [status]) VALUES (2, 1, N'Module 2: Một số lưu ý về chế độ dinh dưỡng cho chó con mới đẻ', N'Hướng dẫn lựa chọn chế độ ăn phù hợp theo độ tuổi', 2, CAST(N'2025-06-29T12:12:04.947' AS DateTime), CAST(N'2025-06-29T12:12:04.947' AS DateTime), 1)
INSERT [dbo].[course_modules] ([id], [course_id], [title], [description], [order_index], [created_at], [updated_at], [status]) VALUES (3, 2, N'Module 1: Cách chăm sóc mèo con mới đẻ vẫn còn mẹ', N'Hiểu về cách chăm sóc cho mèo con mới đẻ', 1, CAST(N'2025-06-29T12:12:04.947' AS DateTime), CAST(N'2025-06-29T12:12:04.947' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[course_modules] OFF
GO
SET IDENTITY_INSERT [dbo].[course_review_replies] ON 

INSERT [dbo].[course_review_replies] ([id], [review_id], [sender_id], [is_admin], [message], [reply_time], [status]) VALUES (1, 1, 4, 1, N'Chúng tôi rất vui khi chú cún của bạn tiến bộ! Trong tháng tới sẽ có thêm bài “tập chờ nâng cao”, nhớ đón xem nhé.', CAST(N'2025-06-29T12:00:00.000' AS DateTime), 1)
INSERT [dbo].[course_review_replies] ([id], [review_id], [sender_id], [is_admin], [message], [reply_time], [status]) VALUES (2, 2, 4, 1, N'Cảm ơn góp ý. Đội ngũ đã lên kế hoạch tách phần “thử thách 7 ngày” thành 7 video ngắn. Dự kiến phát hành 15/07.', CAST(N'2025-06-29T14:50:00.000' AS DateTime), 1)
INSERT [dbo].[course_review_replies] ([id], [review_id], [sender_id], [is_admin], [message], [reply_time], [status]) VALUES (3, 3, 4, 1, N'Ý kiến rất giá trị! Chúng tôi sẽ bổ sung timestamps và recap PDF để bạn tua nhanh phần cần thiết.', CAST(N'2025-06-30T18:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[course_review_replies] OFF
GO
SET IDENTITY_INSERT [dbo].[course_reviews] ON 

INSERT [dbo].[course_reviews] ([id], [course_id], [user_id], [rating], [comment], [created_at], [status]) VALUES (1, 1, 1, 5, N'Sau bốn tuần tham gia, chú cún nhà tôi thay đổi rõ rệt: bớt sủa bậy và biết ngồi chờ trước khi ăn. Nội dung video sinh động, có bài tập thực hành mỗi ngày nên rất dễ theo.', CAST(N'2025-06-29T09:05:00.000' AS DateTime), 1)
INSERT [dbo].[course_reviews] ([id], [course_id], [user_id], [rating], [comment], [created_at], [status]) VALUES (2, 1, 2, 4, N'Khoá học chi tiết, giảng viên giọng rõ ràng. Riêng phần “thử thách 7 ngày” hơi dày, mình mất tới 10 ngày mới hoàn thành.', CAST(N'2025-06-29T10:20:00.000' AS DateTime), 1)
INSERT [dbo].[course_reviews] ([id], [course_id], [user_id], [rating], [comment], [created_at], [status]) VALUES (3, 2, 3, 3, N'Tài liệu kèm theo phong phú nhưng video hơi dài dòng. Nếu chia thành clip ngắn 5‑7 phút sẽ dễ tập trung hơn.', CAST(N'2025-06-30T14:15:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[course_reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[courses] ON 

INSERT [dbo].[courses] ([id], [title], [content], [post_date], [researcher], [video_url], [status], [duration], [thumbnail_url], [created_at], [updated_at], [is_paid]) VALUES (1, N'Cách chăm sóc chó con 3 tháng tuổi đầu tiên', N'Sau khi sinh, chó con cũng cần được chăm sóc đặc biệt...', CAST(N'2025-06-29' AS Date), N'Dr. Nam Nguyễn', NULL, 1, N'4 tuần', N'/images/course/course1.jpg', CAST(N'2025-06-29T12:12:04.940' AS DateTime), CAST(N'2025-06-29T12:12:04.940' AS DateTime), 0)
INSERT [dbo].[courses] ([id], [title], [content], [post_date], [researcher], [video_url], [status], [duration], [thumbnail_url], [created_at], [updated_at], [is_paid]) VALUES (2, N'Cách chăm sóc mèo con', N'Để có được một chú mèo khỏe mạnh và đáng yêu...', CAST(N'2025-06-29' AS Date), N'Dr. Hiền Nguyễn', NULL, 1, N'6 tuần', N'/images/course/course2.jpg', CAST(N'2025-06-29T12:12:04.940' AS DateTime), CAST(N'2025-06-29T12:12:04.940' AS DateTime), 0)
INSERT [dbo].[courses] ([id], [title], [content], [post_date], [researcher], [video_url], [status], [duration], [thumbnail_url], [created_at], [updated_at], [is_paid]) VALUES (3, N'Cách vệ sinh cho chó', N'Thú cưng được chăm sóc thường xuyên sẽ luôn sạch sẽ...', CAST(N'2025-06-29' AS Date), N'Dr. Chi Nguyễn', NULL, 1, N'3 tháng', N'/images/course/course3.jpg', CAST(N'2025-06-29T12:12:04.940' AS DateTime), CAST(N'2025-06-29T12:12:04.940' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[courses] OFF
GO
SET IDENTITY_INSERT [dbo].[experts] ON 

INSERT [dbo].[experts] ([id], [full_name], [position], [bio], [image_url], [facebook_url], [instagram_url], [twitter_url], [google_url], [status], [created_at], [partner_id]) VALUES (1, N'Nguyễn Viết Hải Nam', N'Trưởng nhóm nghiên cứu tài liệu', N'Hơn 10 năm kinh nghiệm trong điều trị thú cưng.', N'images/nam.jpg', N'https://www.facebook.com/nguyen.nam.572915', NULL, NULL, NULL, 1, CAST(N'2025-06-29T12:12:05.033' AS DateTime), 1)
INSERT [dbo].[experts] ([id], [full_name], [position], [bio], [image_url], [facebook_url], [instagram_url], [twitter_url], [google_url], [status], [created_at], [partner_id]) VALUES (2, N'Nguyễn Thị Quỳnh Chi', N'Chuyên gia dinh dưỡng', N'Đào tạo tại Đại học Nông nghiệp Tokyo, hiện đang làm việc tại DEF Group.', N'images/chi.jpg', N'https://www.facebook.com/nguyen.chi.206831', NULL, NULL, NULL, 1, CAST(N'2025-06-29T12:12:05.033' AS DateTime), 2)
INSERT [dbo].[experts] ([id], [full_name], [position], [bio], [image_url], [facebook_url], [instagram_url], [twitter_url], [google_url], [status], [created_at], [partner_id]) VALUES (3, N'Vũ Diệu Cẩm', N'Trưởng nhóm nghiên cứu tài liệu', N'Tốt nghiệp chuyên ngành Y Dược thú y, có kinh nghiệm tư vấn chăm sóc sức khỏe thú cưng toàn diện.', N'images/cam.jpg', N'https://www.facebook.com/vu.cam.1800/', NULL, NULL, NULL, 1, CAST(N'2025-06-29T12:12:05.033' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[experts] OFF
GO
SET IDENTITY_INSERT [dbo].[lesson_attachments] ON 

INSERT [dbo].[lesson_attachments] ([id], [lesson_id], [file_name], [file_url], [file_size], [status]) VALUES (1, 3, N'Hướng dẫn dinh dưỡng.pdf', N'/uploads/guides/nutrition.pdf', 1024, 1)
INSERT [dbo].[lesson_attachments] ([id], [lesson_id], [file_name], [file_url], [file_size], [status]) VALUES (2, 5, N'Cẩm nang sơ cứu.pdf', N'/uploads/guides/first_aid.pdf', 2048, 1)
SET IDENTITY_INSERT [dbo].[lesson_attachments] OFF
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([id], [order_id], [product_id], [quantity], [price], [status]) VALUES (1, 1, 1, 1, CAST(350000 AS Decimal(12, 0)), 1)
INSERT [dbo].[order_items] ([id], [order_id], [product_id], [quantity], [price], [status]) VALUES (2, 2, 2, 1, CAST(120000 AS Decimal(12, 0)), 1)
INSERT [dbo].[order_items] ([id], [order_id], [product_id], [quantity], [price], [status]) VALUES (3, 3, 1, 1, CAST(350000 AS Decimal(12, 0)), 1)
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [user_id], [order_date], [total_amount], [commission], [status]) VALUES (1, 1, CAST(N'2025-06-29T12:12:04.990' AS DateTime), CAST(350000 AS Decimal(12, 0)), CAST(10500 AS Decimal(12, 0)), N'completed')
INSERT [dbo].[orders] ([id], [user_id], [order_date], [total_amount], [commission], [status]) VALUES (2, 2, CAST(N'2025-06-29T12:12:04.990' AS DateTime), CAST(120000 AS Decimal(12, 0)), CAST(3600 AS Decimal(12, 0)), N'completed')
INSERT [dbo].[orders] ([id], [user_id], [order_date], [total_amount], [commission], [status]) VALUES (3, 3, CAST(N'2025-06-29T12:12:04.990' AS DateTime), CAST(500000 AS Decimal(12, 0)), CAST(15000 AS Decimal(12, 0)), N'processing')
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[partners] ON 

INSERT [dbo].[partners] ([id], [name], [email], [phone], [address], [description], [partner_type], [country], [partnership_date], [project_count], [logo_url], [website], [status], [created_at]) VALUES (1, N'Công ty ABC Tech', N'contact@abctech.com', N'0123456789', N'Hà Nội, Việt Nam', N'Đối tác công nghệ cung cấp nền tảng phần mềm', N'Chuyên Gia', N'Việt Nam', CAST(N'2022-05-15' AS Date), 5, N'images/partners/abc-logo.png', N'https://abctech.com', 1, CAST(N'2025-06-29T12:12:04.937' AS DateTime))
INSERT [dbo].[partners] ([id], [name], [email], [phone], [address], [description], [partner_type], [country], [partnership_date], [project_count], [logo_url], [website], [status], [created_at]) VALUES (2, N'Đại học XYZ', N'info@xyz.edu.vn', N'0987654321', N'Hồ Chí Minh, Việt Nam', N'Đối tác đào tạo chuyên ngành thú cưng', N'Chuyên Gia', N'Mỹ', CAST(N'2021-08-22' AS Date), 3, N'images/partners/xyz-uni.png', N'https://xyz.edu.vn', 1, CAST(N'2025-06-29T12:12:04.937' AS DateTime))
INSERT [dbo].[partners] ([id], [name], [email], [phone], [address], [description], [partner_type], [country], [partnership_date], [project_count], [logo_url], [website], [status], [created_at]) VALUES (3, N'Tập đoàn DEF Group', N'partner@defgroup.com', N'0899998888', N'Tokyo, Nhật Bản', N'Đối tác nghiên cứu và huấn luyện chuyên sâu', N'Chuyên Gia', N'Nhật Bản', CAST(N'2020-03-10' AS Date), 7, N'images/partners/def-logo.png', N'https://defgroup.jp', 1, CAST(N'2025-06-29T12:12:04.937' AS DateTime))
SET IDENTITY_INSERT [dbo].[partners] OFF
GO
SET IDENTITY_INSERT [dbo].[payments] ON 

INSERT [dbo].[payments] ([id], [user_id], [service_package_id], [order_id], [payment_method], [amount], [payment_date], [status], [transaction_id], [qr_code_url], [bank_account_number], [bank_name], [notes], [is_confirmed], [confirmation_code], [confirmation_expiry], [failure_reason]) VALUES (1, 1, NULL, 1, N'BANK_QR', CAST(199000.00 AS Decimal(10, 2)), CAST(N'2025-07-11T15:00:00.000' AS DateTime), N'pending', NULL, N'/qr_codes/pay1.png', N'19001234', N'Techcombank', N'QR tạo nhưng chưa xác nhận', 0, NULL, NULL, NULL)
INSERT [dbo].[payments] ([id], [user_id], [service_package_id], [order_id], [payment_method], [amount], [payment_date], [status], [transaction_id], [qr_code_url], [bank_account_number], [bank_name], [notes], [is_confirmed], [confirmation_code], [confirmation_expiry], [failure_reason]) VALUES (2, 2, NULL, 2, N'MOMO_QR', CAST(99000.00 AS Decimal(10, 2)), CAST(N'2025-07-11T15:05:00.000' AS DateTime), N'waiting_admin_confirm', N'MOMO9988', N'/qr_codes/pay2.png', NULL, NULL, NULL, 0, N'ABC123', CAST(N'2025-07-11T20:05:00.000' AS DateTime), NULL)
INSERT [dbo].[payments] ([id], [user_id], [service_package_id], [order_id], [payment_method], [amount], [payment_date], [status], [transaction_id], [qr_code_url], [bank_account_number], [bank_name], [notes], [is_confirmed], [confirmation_code], [confirmation_expiry], [failure_reason]) VALUES (3, 3, 1, NULL, N'VNPAY', CAST(350000.00 AS Decimal(10, 2)), CAST(N'2025-06-29T12:12:04.993' AS DateTime), N'completed', N'VNPAY123456', NULL, NULL, NULL, NULL, 1, N'XYZ789', CAST(N'2025-07-29T12:12:04.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[payments] OFF
GO
SET IDENTITY_INSERT [dbo].[pet_categories] ON 

INSERT [dbo].[pet_categories] ([id], [name], [description], [status]) VALUES (1, N'Mèo', N'Mèo cảnh các loại', 1)
INSERT [dbo].[pet_categories] ([id], [name], [description], [status]) VALUES (2, N'Chó', N'Chó cảnh các loại', 1)
SET IDENTITY_INSERT [dbo].[pet_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[pet_images] ON 

INSERT [dbo].[pet_images] ([id], [pet_id], [image_url], [is_primary], [created_at], [status]) VALUES (1, 1, N'images/gallery-1.jpg', 1, CAST(N'2025-06-29T12:12:05.040' AS DateTime), 1)
INSERT [dbo].[pet_images] ([id], [pet_id], [image_url], [is_primary], [created_at], [status]) VALUES (2, 2, N'images/gallery-6.jpg', 1, CAST(N'2025-06-29T12:12:05.040' AS DateTime), 1)
INSERT [dbo].[pet_images] ([id], [pet_id], [image_url], [is_primary], [created_at], [status]) VALUES (3, 3, N'images/gallery-4.jpg', 1, CAST(N'2025-06-29T12:12:05.040' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[pet_images] OFF
GO
SET IDENTITY_INSERT [dbo].[pets] ON 

INSERT [dbo].[pets] ([id], [name], [category_id], [gender], [age], [color], [weight], [breed], [description], [status], [created_at], [partner_id]) VALUES (1, N'Mèo Ba Tư', 1, N'Cái', 2, N'Trắng kem', CAST(3.20 AS Decimal(5, 2)), N'Ba Tư', N'Mèo Ba Tư có bộ lông dài, tính cách điềm đạm, rất thích hợp nuôi trong nhà.', 1, CAST(N'2025-06-29T12:12:05.040' AS DateTime), NULL)
INSERT [dbo].[pets] ([id], [name], [category_id], [gender], [age], [color], [weight], [breed], [description], [status], [created_at], [partner_id]) VALUES (2, N'Chó Pug', 2, N'Đực', 3, N'Nâu nhạt', CAST(7.50 AS Decimal(5, 2)), N'Pug mặt xệ', N'Chó Pug mặt xệ có tính cách thân thiện, nhỏ gọn, dễ nuôi và rất tình cảm.', 1, CAST(N'2025-06-29T12:12:05.040' AS DateTime), NULL)
INSERT [dbo].[pets] ([id], [name], [category_id], [gender], [age], [color], [weight], [breed], [description], [status], [created_at], [partner_id]) VALUES (3, N'Mèo Anh Lông Ngắn', 1, N'Đực', 1, N'Xám xanh', CAST(4.00 AS Decimal(5, 2)), N'British Shorthair', N'Giống mèo phổ biến tại Việt Nam, thân thiện, dễ nuôi và rất khỏe mạnh.', 1, CAST(N'2025-06-29T12:12:05.040' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[pets] OFF
GO
SET IDENTITY_INSERT [dbo].[product_categories] ON 

INSERT [dbo].[product_categories] ([id], [name], [status]) VALUES (1, N'Thức ăn', 1)
INSERT [dbo].[product_categories] ([id], [name], [status]) VALUES (2, N'Vệ sinh', 1)
INSERT [dbo].[product_categories] ([id], [name], [status]) VALUES (3, N'Phụ kiện', 1)
SET IDENTITY_INSERT [dbo].[product_categories] OFF
GO
INSERT [dbo].[product_category_mapping] ([product_id], [category_id], [status]) VALUES (1, 1, 1)
INSERT [dbo].[product_category_mapping] ([product_id], [category_id], [status]) VALUES (2, 2, 1)
INSERT [dbo].[product_category_mapping] ([product_id], [category_id], [status]) VALUES (3, 2, 1)
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [name], [description], [price], [stock], [partner_id], [image_url], [status]) VALUES (1, N'Thức ăn cho chó vị gà 5kg', N'Dành cho chó từ 2 tháng tuổi trở lên', CAST(350000 AS Decimal(12, 0)), 100, 1, N'/img/products/dog_food.jpg', 1)
INSERT [dbo].[products] ([id], [name], [description], [price], [stock], [partner_id], [image_url], [status]) VALUES (2, N'Cát vệ sinh hữu cơ cho mèo', N'Hấp thụ nhanh và khử mùi tốt', CAST(120000 AS Decimal(12, 0)), 150, 1, N'/img/products/cat_litter.jpg', 1)
INSERT [dbo].[products] ([id], [name], [description], [price], [stock], [partner_id], [image_url], [status]) VALUES (3, N'Sữa tắm thảo dược thú cưng', N'Làm sạch và chống rụng lông', CAST(89000 AS Decimal(12, 0)), 200, 2, N'/img/products/pet_shampoo.jpg', 1)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[service_packages] ON 

INSERT [dbo].[service_packages] ([id], [name], [description], [price], [type], [status]) VALUES (1, N'GÓI MIỄN PHÍ', N'Phù hợp với người mới bắt đầu nuôi thú cưng hoặc đang tìm hiểu.', CAST(0 AS Decimal(10, 0)), N'free', 1)
INSERT [dbo].[service_packages] ([id], [name], [description], [price], [type], [status]) VALUES (2, N'GÓI TIÊU CHUẨN', N'Dành cho người nuôi thú cưng có nhu cầu chăm sóc tốt hơn và học hỏi thêm.', CAST(29000 AS Decimal(10, 0)), N'standard', 1)
INSERT [dbo].[service_packages] ([id], [name], [description], [price], [type], [status]) VALUES (3, N'GÓI CHUYÊN NGHIỆP', N'Phù hợp với người yêu thú cưng nghiêm túc hoặc kinh doanh nhỏ (pet shop, grooming).', CAST(39000 AS Decimal(10, 0)), N'pro', 1)
SET IDENTITY_INSERT [dbo].[service_packages] OFF
GO
SET IDENTITY_INSERT [dbo].[user_packages] ON 

INSERT [dbo].[user_packages] ([id], [user_id], [service_package_id], [start_date], [end_date], [status]) VALUES (1, 1, 1, CAST(N'2023-01-01' AS Date), CAST(N'2023-12-31' AS Date), 1)
INSERT [dbo].[user_packages] ([id], [user_id], [service_package_id], [start_date], [end_date], [status]) VALUES (2, 2, 2, CAST(N'2023-02-01' AS Date), CAST(N'2023-08-01' AS Date), 1)
INSERT [dbo].[user_packages] ([id], [user_id], [service_package_id], [start_date], [end_date], [status]) VALUES (3, 3, 3, CAST(N'2023-03-01' AS Date), CAST(N'2023-09-01' AS Date), 1)
SET IDENTITY_INSERT [dbo].[user_packages] OFF
GO
SET IDENTITY_INSERT [dbo].[user_progress] ON 

INSERT [dbo].[user_progress] ([id], [user_id], [lesson_id], [completed], [completed_at], [status]) VALUES (1, 1, 1, 1, CAST(N'2025-06-29T12:12:05.000' AS DateTime), 1)
INSERT [dbo].[user_progress] ([id], [user_id], [lesson_id], [completed], [completed_at], [status]) VALUES (2, 1, 2, 1, CAST(N'2025-06-29T12:12:05.000' AS DateTime), 1)
INSERT [dbo].[user_progress] ([id], [user_id], [lesson_id], [completed], [completed_at], [status]) VALUES (3, 1, 3, 0, NULL, 1)
SET IDENTITY_INSERT [dbo].[user_progress] OFF
GO
SET IDENTITY_INSERT [dbo].[user_reset_tokens] ON 

INSERT [dbo].[user_reset_tokens] ([id], [user_id], [reset_token], [expiry], [status], [created_at]) VALUES (1, 4, N'token789123456', CAST(N'2025-06-29T13:12:05.023' AS DateTime), 1, CAST(N'2025-06-29T12:12:05.023' AS DateTime))
INSERT [dbo].[user_reset_tokens] ([id], [user_id], [reset_token], [expiry], [status], [created_at]) VALUES (2, 5, N'token321654987', CAST(N'2025-06-29T13:12:05.023' AS DateTime), 1, CAST(N'2025-06-29T12:12:05.023' AS DateTime))
SET IDENTITY_INSERT [dbo].[user_reset_tokens] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [password], [fullname], [phone], [address], [role_id], [status], [created_at], [verification_token], [service_package_id], [is_active], [activation_token], [token_expiry]) VALUES (1, N'user1@example.com', N'123456Aa', N'Nguyễn Văn A', N'0912345678', N'123 Đường ABC, Quận 1', 1, 1, CAST(N'2025-06-29T12:12:04.937' AS DateTime), NULL, 1, 1, NULL, NULL)
INSERT [dbo].[users] ([id], [email], [password], [fullname], [phone], [address], [role_id], [status], [created_at], [verification_token], [service_package_id], [is_active], [activation_token], [token_expiry]) VALUES (2, N'user2@example.com', N'123456Aa', N'Trần Thị B', N'0987654321', N'456 Đường XYZ, Quận 2', 1, 1, CAST(N'2025-06-29T12:12:04.937' AS DateTime), NULL, 2, 0, NULL, NULL)
INSERT [dbo].[users] ([id], [email], [password], [fullname], [phone], [address], [role_id], [status], [created_at], [verification_token], [service_package_id], [is_active], [activation_token], [token_expiry]) VALUES (3, N'staff1@pettech.com', N'123456Aa', N'Nhân viên C', N'0909999999', N'789 Đường DEF, Quận 3', 2, 1, CAST(N'2025-06-29T12:12:04.937' AS DateTime), NULL, 2, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [idx_blog_comments_blog_id]    Script Date: 19/07/2025 12:49:04 SA ******/
CREATE NONCLUSTERED INDEX [idx_blog_comments_blog_id] ON [dbo].[BlogComments]
(
	[blog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_blog_comments_user_id]    Script Date: 19/07/2025 12:49:04 SA ******/
CREATE NONCLUSTERED INDEX [idx_blog_comments_user_id] ON [dbo].[BlogComments]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_blogs_category_id]    Script Date: 19/07/2025 12:49:04 SA ******/
CREATE NONCLUSTERED INDEX [idx_blogs_category_id] ON [dbo].[Blogs]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_blogs_created_at]    Script Date: 19/07/2025 12:49:04 SA ******/
CREATE NONCLUSTERED INDEX [idx_blogs_created_at] ON [dbo].[Blogs]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_blogs_status]    Script Date: 19/07/2025 12:49:04 SA ******/
CREATE NONCLUSTERED INDEX [idx_blogs_status] ON [dbo].[Blogs]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__partners__AB6E61648069C3E6]    Script Date: 19/07/2025 12:49:04 SA ******/
ALTER TABLE [dbo].[partners] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_payments_order_id]    Script Date: 19/07/2025 12:49:04 SA ******/
CREATE NONCLUSTERED INDEX [idx_payments_order_id] ON [dbo].[payments]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_payments_payment_date]    Script Date: 19/07/2025 12:49:04 SA ******/
CREATE NONCLUSTERED INDEX [idx_payments_payment_date] ON [dbo].[payments]
(
	[payment_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_payments_status]    Script Date: 19/07/2025 12:49:04 SA ******/
CREATE NONCLUSTERED INDEX [idx_payments_status] ON [dbo].[payments]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_payments_user_id]    Script Date: 19/07/2025 12:49:04 SA ******/
CREATE NONCLUSTERED INDEX [idx_payments_user_id] ON [dbo].[payments]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__pet_cate__72E12F1BEE124B13]    Script Date: 19/07/2025 12:49:04 SA ******/
ALTER TABLE [dbo].[pet_categories] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__service___E3F85248E4E8379F]    Script Date: 19/07/2025 12:49:04 SA ******/
ALTER TABLE [dbo].[service_packages] ADD UNIQUE NONCLUSTERED 
(
	[type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164335C84B2]    Script Date: 19/07/2025 12:49:04 SA ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_users_email]    Script Date: 19/07/2025 12:49:04 SA ******/
CREATE NONCLUSTERED INDEX [idx_users_email] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_users_service_package]    Script Date: 19/07/2025 12:49:04 SA ******/
CREATE NONCLUSTERED INDEX [idx_users_service_package] ON [dbo].[users]
(
	[service_package_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_users_status]    Script Date: 19/07/2025 12:49:04 SA ******/
CREATE NONCLUSTERED INDEX [idx_users_status] ON [dbo].[users]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT (getdate()) FOR [changed_at]
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[BlogCategories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[BlogCategories] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[BlogComments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[BlogComments] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[BlogComments] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[BlogComments] ADD  DEFAULT ((0)) FOR [is_admin_reply]
GO
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT ('Admin') FOR [author_name]
GO
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT ((0)) FOR [is_featured]
GO
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[course_access] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[course_access] ADD  DEFAULT (getdate()) FOR [access_date]
GO
ALTER TABLE [dbo].[course_categories] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[course_category_mapping] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[course_images] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[course_images] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[course_images] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[course_lessons] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[course_lessons] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[course_lessons] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[course_modules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[course_modules] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[course_modules] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[course_review_replies] ADD  DEFAULT ((0)) FOR [is_admin]
GO
ALTER TABLE [dbo].[course_review_replies] ADD  DEFAULT (getdate()) FOR [reply_time]
GO
ALTER TABLE [dbo].[course_review_replies] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[course_reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[course_reviews] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT ((0)) FOR [is_paid]
GO
ALTER TABLE [dbo].[experts] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[experts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[lesson_attachments] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[order_items] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[partners] ADD  DEFAULT ((0)) FOR [project_count]
GO
ALTER TABLE [dbo].[partners] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[partners] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT ((0)) FOR [is_confirmed]
GO
ALTER TABLE [dbo].[pet_categories] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[pet_images] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[pet_images] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[pet_images] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[pets] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[pets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product_categories] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[product_category_mapping] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[service_packages] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[user_packages] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[user_progress] ADD  DEFAULT ((0)) FOR [completed]
GO
ALTER TABLE [dbo].[user_progress] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[user_reset_tokens] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[user_reset_tokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [role_id]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_active]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD FOREIGN KEY([changed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[BlogComments]  WITH CHECK ADD FOREIGN KEY([blog_id])
REFERENCES [dbo].[Blogs] ([blog_id])
GO
ALTER TABLE [dbo].[BlogComments]  WITH CHECK ADD FOREIGN KEY([parent_comment_id])
REFERENCES [dbo].[BlogComments] ([comment_id])
GO
ALTER TABLE [dbo].[BlogComments]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[BlogCategories] ([category_id])
GO
ALTER TABLE [dbo].[course_access]  WITH CHECK ADD  CONSTRAINT [FK_course_access_course] FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[course_access] CHECK CONSTRAINT [FK_course_access_course]
GO
ALTER TABLE [dbo].[course_access]  WITH CHECK ADD  CONSTRAINT [FK_course_access_package] FOREIGN KEY([service_package_id])
REFERENCES [dbo].[service_packages] ([id])
GO
ALTER TABLE [dbo].[course_access] CHECK CONSTRAINT [FK_course_access_package]
GO
ALTER TABLE [dbo].[course_access]  WITH CHECK ADD  CONSTRAINT [FK_course_access_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[course_access] CHECK CONSTRAINT [FK_course_access_user]
GO
ALTER TABLE [dbo].[course_category_mapping]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[course_categories] ([id])
GO
ALTER TABLE [dbo].[course_category_mapping]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[course_images]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[course_lessons]  WITH CHECK ADD FOREIGN KEY([module_id])
REFERENCES [dbo].[course_modules] ([id])
GO
ALTER TABLE [dbo].[course_modules]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[course_review_replies]  WITH CHECK ADD FOREIGN KEY([review_id])
REFERENCES [dbo].[course_reviews] ([id])
GO
ALTER TABLE [dbo].[course_review_replies]  WITH CHECK ADD FOREIGN KEY([sender_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[course_reviews]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[course_reviews]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[experts]  WITH CHECK ADD  CONSTRAINT [fk_expert_partner] FOREIGN KEY([partner_id])
REFERENCES [dbo].[partners] ([id])
GO
ALTER TABLE [dbo].[experts] CHECK CONSTRAINT [fk_expert_partner]
GO
ALTER TABLE [dbo].[lesson_attachments]  WITH CHECK ADD FOREIGN KEY([lesson_id])
REFERENCES [dbo].[course_lessons] ([id])
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([service_package_id])
REFERENCES [dbo].[service_packages] ([id])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[pet_images]  WITH CHECK ADD FOREIGN KEY([pet_id])
REFERENCES [dbo].[pets] ([id])
GO
ALTER TABLE [dbo].[pets]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[pet_categories] ([id])
GO
ALTER TABLE [dbo].[pets]  WITH CHECK ADD FOREIGN KEY([partner_id])
REFERENCES [dbo].[partners] ([id])
GO
ALTER TABLE [dbo].[product_category_mapping]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[product_categories] ([id])
GO
ALTER TABLE [dbo].[product_category_mapping]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([partner_id])
REFERENCES [dbo].[partners] ([id])
GO
ALTER TABLE [dbo].[user_packages]  WITH CHECK ADD FOREIGN KEY([service_package_id])
REFERENCES [dbo].[service_packages] ([id])
GO
ALTER TABLE [dbo].[user_packages]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_progress]  WITH CHECK ADD FOREIGN KEY([lesson_id])
REFERENCES [dbo].[course_lessons] ([id])
GO
ALTER TABLE [dbo].[user_progress]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_reset_tokens]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([service_package_id])
REFERENCES [dbo].[service_packages] ([id])
GO
ALTER TABLE [dbo].[course_reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[courses]  WITH CHECK ADD CHECK  (([status]=(1) OR [status]=(0)))
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([commission]>=(0)))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([status]=N'cancelled' OR [status]=N'completed' OR [status]=N'processing' OR [status]=N'pending'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([total_amount]>=(0)))
GO
ALTER TABLE [dbo].[partners]  WITH CHECK ADD CHECK  (([partner_type]=N'Khác' OR [partner_type]=N'Chuyên Gia' OR [partner_type]=N'Kinh doanh' OR [partner_type]=N'Công Nghệ' OR [partner_type]=N'Giáo Dục'))
GO
ALTER TABLE [dbo].[partners]  WITH CHECK ADD CHECK  (([project_count]>=(0)))
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD CHECK  (([payment_method]='CASH' OR [payment_method]='VNPAY' OR [payment_method]='BANK_QR' OR [payment_method]='MOMO_QR'))
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [CK_payments_status] CHECK  (([status]='refunded' OR [status]='failed' OR [status]='completed' OR [status]='waiting_admin_confirm' OR [status]='pending'))
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [CK_payments_status]
GO
ALTER TABLE [dbo].[pets]  WITH CHECK ADD CHECK  (([age]>=(0)))
GO
ALTER TABLE [dbo].[pets]  WITH CHECK ADD CHECK  (([gender]=N'Khác' OR [gender]=N'Cái' OR [gender]=N'Đực'))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([stock]>=(0)))
GO
ALTER TABLE [dbo].[service_packages]  WITH CHECK ADD CHECK  (([type]=N'pro' OR [type]=N'standard' OR [type]=N'free'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([email] like '%@%.%'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role_id]=(3) OR [role_id]=(2) OR [role_id]=(1)))
GO
USE [master]
GO
