<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>customer.Authentication.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>customer.Course.CourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseCategoryServlet</servlet-name>
        <servlet-class>customer.Course.CourseCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailServlet</servlet-name>
        <servlet-class>customer.Course.CourseDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenServlet</servlet-name>
        <servlet-class>AuthenController.AuthenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PackageServlet</servlet-name>
        <servlet-class>customer.ServicePackage.PackageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseCategoryServlet</servlet-name>
        <url-pattern>/coursecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailServlet</servlet-name>
        <url-pattern>/coursedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenServlet</servlet-name>
        <url-pattern>/authen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PackageServlet</servlet-name>
        <url-pattern>/package</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PackageServlet</servlet-name>
        <url-pattern>/packageservlet</url-pattern>
    </servlet-mapping>
</web-app>
